.profile-bride {
  background-image: url("../asset/images/IMG_20240818_134421_313.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  color: white;
  display: flex;
  align-items: flex-end; /* Align items to the bottom */
  justify-content: flex-end; /* Align items to the right */
  padding: 20px; /* Padding for spacing from edges */
  text-align: right; /* Align text to the right */
  z-index: 1;
}

.profile-bride::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1; /* Ensure overlay is behind content */
}

.bride-section {
  position: relative;
  z-index: 1; /* Ensure content is above the overlay */
}

.bride-section h2 {
  font-size: 1.5em;
  color: #f8b195;
  margin: 0;
  opacity: 0;
  animation: fadeIn 1s ease-in-out 2s forwards;
}

.bride-section h1 {
  font-size: 2.5em;
  color: #ffffff;
  margin: 10px 0;
  opacity: 0;
  animation: fadeIn 1s ease-in-out 2.5s forwards;
}

.bride-section p {
  font-size: 1.2em;
  margin: 0;
  opacity: 0;
  animation: fadeIn 1s ease-in-out 3s forwards;
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive Styles */
@media (max-width: 768px) {
  .profile-bride {
    padding: 10px;
  }

  .bride-section h2 {
    font-size: 1.2em;
  }

  .bride-section h1 {
    font-size: 2em;
  }

  .bride-section p {
    font-size: 1em;
  }
}

@media (max-width: 480px) {
  .profile-bride {
    padding: 5px;
  }

  .bride-section h2 {
    font-size: 1em;
  }

  .bride-section h1 {
    font-size: 1.5em;
  }

  .bride-section p {
    font-size: 0.9em;
  }
}
