.couple-section {
  background-image: url("../asset/images/IMG_20240818_134421_313.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  position: relative;
  padding: 20px; /* Add padding to handle content on smaller screens */
  z-index: -1;
}

.couple-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.couple-section h3 {
  position: absolute;
  top: 70px; /* Distance from the top edge */
  left: 20px;
  margin: 0;
  font-size: 2em;
  color: #ffffff;
  font-family: "poppins", sans-serif;
}

.couple-section h1 {
  padding-top: 70px;
  position: absolute;
  margin-top: 3rem;
  top: 30px; /* Distance from the top edge */
  left: 20px;
  margin: 0;
  font-size: 2.5em;
  color: #eca15b;
}

.couple-section h4 {
  position: absolute;
  top: 150px; /* Distance from the top edge */
  left: 20px;
  margin: 0;
  font-size: 1.3em;
  color: #ffffff;
  font-family: "Courier New", Courier, monospace;
}

.quote {
  margin-bottom: 5rem;
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 1em;
  font-family: "poppins", sans-serif;
}

/* @keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
} */

/* Responsive Styles */

@media (max-width: 768px) {
  .couple-section h1 {
    font-size: 2.5em;
    left: 10px;
    top: 10px;
  }

  .couple-section h3 {
    font-size: 1.5em;
    left: 10px;
    top: 60px;
  }

  .couple-section h4 {
    font-size: 1.5em;
    left: 10px;
    top: 135px;
  }

  .quote {
    font-size: 1.2em;
    font-family: "poppins", sans-serif;
    position: absolute; /* Absolute positioning to stay at the bottom */
    bottom: 20px; /* Distance from the bottom edge */
    right: 10%; /* Align text to the right, adjust spacing */
    transform: translateX(0); /* No need to center horizontally */
    width: 90%; /* Increase width to use more of the available space */
    max-width: 1000px; /* Optional: Limit maximum width for very large screens */
    line-height: 1.5; /* Improve readability */
    text-align: right; /* Align text to the right */
    z-index: 1; /* Ensure it's above other elements */
    padding: 0 10px; /* Add horizontal padding for better spacing */
    box-sizing: border-box; /* Ensure padding is included in width */
    border-bottom: 2px solid #ffffff; /* White underline */
  }
}

@media (max-width: 480px) {
  .couple-section h1 {
    font-size: 2em;
    left: 5px;
    top: 5px;
  }

  .couple-section h3 {
    font-size: 1.2em;
    left: 5px;
    top: 40px;
  }

  .quote {
    font-size: 0.8em;
    left: 5px;
    bottom: 5px;
    max-width: 90%;
  }
}
