.event-section {
  background-image: url("../asset/images/IMG_20240818_134421_313.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  position: relative;
  z-index: 1;
}

.event-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1; /* Push the overlay behind the content */
}

.event-section::after {
  position: relative;
  z-index: 1;
}
