<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!--Theme Title-->
    <title>Undangan Hadirmu 3</title>
    <meta name="description" content="" />

    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="favicon.png" />
    <link rel="apple-touch-icon" href="favicon.png" />

    <!-- All css Here -->
    <!-- All plugins css -->
    <link rel="stylesheet" href="assets/css/allplugins.css" />
    <!-- Style css -->
    <link rel="stylesheet" href="assets/style.css" />
    <!-- Responsive css -->
    <link rel="stylesheet" href="assets/css/responsive.css" />

    <!-- Customization css -->
    <!--If u need any change then use this css file-->
    <link rel="stylesheet" href="assets/css/custom.css" />

    <link rel="stylesheet" href="assets/css/gift-style.css" />

    <link rel="stylesheet" href="assets/css/rsvp.css" />
    <link rel="stylesheet" href="assets/css/awal.css" />
    <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
   <!-- Halaman Mulai -->
<div id="start-page" style="display: block;">
  <div class="start-content">
    <img src="assets/images/banner/1.jpg" alt="Logo">
    <h2
    class="wow animated fadeInDown " 
    >Undangan Pernikahan</h2>
    <p class="wow animated zoomIn">Jhon & Alisa</p>
    <button id="start-button"
    class="wow animated fadeInUp"
    data-wow-duration="2s">Buka Undangan</button>
    <audio id="background-music" controls autoplay loop style="display: none;">
      <source src="assets/audio/wedd.mp3" type="audio/mp3">
      Your browser does not support the audio element.
    </audio>
  </div>
</div>

    <!--Header area start here-->
    <!-- <header id="sticky">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-9">
            <div class="logo-area">
              <a href="index.html"
                ><img src="assets/images/logo/logo.png" alt=""
              /></a>
            </div>
          </div>
          <div class="col-md-9 col-sm-9 col-xs-12 hidden-xs">
            <div class="main-menu menu_scroll">
              <nav>
                <ul>
                  <li><a href="0">home</a></li>
                  <li><a href="1">about us</a></li>
                  <li><a href="2">Love Story</a></li>
                  <li><a href="3">Events</a></li>
                  <li><a href="4">Gallery</a></li>
                  <li><a href="5">Gift</a></li>
                  <li><a href="6">Contact Us</a></li>
                  <li><a href="7" class="btn1">rspv</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div> -->
      <!--Responsive Menu area-->
      <!-- <div class="mobilemenu">
        <div class="mobile-menu menu_scroll visible-xs">
          <nav>
            <ul>
              <li><a href="0">home</a></li>
              <li><a href="1">about us</a></li>
              <li><a href="2">Love Story</a></li>
              <li><a href="3">Events</a></li>
              <li><a href="4">Gallery</a></li>
              <li><a href="5">Gift</a></li>
              <li><a href="6">Contact Us</a></li>
              <li><a href="7">rspv</a></li>
            </ul>
          </nav>
        </div>
      </div> -->
      <!--Responsive Menu area End-->
      
      <div id="main-content" style="display: none;">
      </header>
        <div id="preloader">
          <div id="status">
            <img src="preloader.gif" id="preloader_image" alt="loader" />
          </div>
        </div>
      <!--Header area end here-->


    <!--Slider area start here-->
    <section section-scroll="0" class="slider-area">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12 pd-0">
              <div class="item one">
                <div class="container">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="content">
                        <p
                          class="wow animated fadeInDown"
                          data-wow-duration="1.3s"
                        >
                          We Hope to See You Soon
                        </p>
                        <h2
                          class="wow animated fadeInDown"
                          data-wow-duration="1s"
                        >
                          Johan <span>&</span> jaquline
                        </h2>
                        <h3
                          class="wow animated fadeInUp"
                          data-wow-duration="1s"
                        >
                          29/01/2018
                        </h3>
                        <br />
                        <span
                          class="date wow animated fadeInUp"
                          data-wow-duration="1.3s"
                          >Save the date</span
                        >
                      </div>
                    </div>
                  </div>
             
           
        </div>
      </div>
    </section>
    <!--Slider area End here-->

      
<!--Counter area start here-->
<section class="counter-area">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="content">
              <p>Missing Days to</p>
              <h2>Our Wedding</h2>
              <span><img src="assets/images/icons/1.png" alt="" /></span>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="counter-list">
              <ul>
                <li>
                  <div class="count-con">
                    <span class="days">00</span>
                    <p>Days</p>
                  </div>
                </li>
                <li>
                  <div class="count-con">
                    <span class="hours">00</span>
                    <p>hours</p>
                  </div>
                </li>
                <li>
                  <div class="count-con">
                    <span class="minutes">00</span>
                    <p>minutes</p>
                  </div>
                </li>
                <li>
                  <div class="count-con">
                    <span class="seconds">00</span>
                    <p>seconds</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--Counter area End here-->
    <!--persons area start here-->
    <section section-scroll="1" class="persons-area section">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div class="section_heading">
              <p>ARE GETTING MARRIED!</p>
              <h2>Groom and Bride</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 col-sm-4">
            <div class="persons">
              <figure><img src="assets/images/about/1.jpg" alt="" /></figure>
              <div class="content">
                <a href="#"><img src="assets/images/about/1.png" alt="" /></a>
                <h4>( S/o Mrs fariza & Mr. jany )</h4>
                <p>
                  Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
                  Aenean sollicitudin, lorem quis bibendum auctor, nisi elit
                  connec.
                </p>
                <ul class="socials">
                  <li>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-skype"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-4 pd-0">
            <div class="persons-con">
              <h1>Invitation</h1>
              <span class="ico"
              ><img src="assets/images/icons/2.png" alt=""
              /></span>
              <span class="day">Friday</span>
              <strong>27/12/2017</strong>
              <p>At St. Thomas's Church, London, U.K.</p>
            </div>
          </div>
          <div class="col-md-5 col-sm-4">
            <div class="persons">
              <figure><img src="assets/images/about/2.jpg" alt="" /></figure>
              <div class="content">
                <a href="#"><img src="assets/images/about/2.png" alt="" /></a>
                <h4>( S/o Mrs fariza & Mr. jany )</h4>
                <p>
                  Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
                  Aenean sollicitudin, lorem quis bibendum auctor, nisi elit
                  connec.
                </p>
                <ul class="socials">
                  <li>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-skype"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--persons area End here-->
    <!--Registery area start here-->
    <section class="registery-area section bg-img af jarallax">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div class="section_heading">
              <p>rspv</p>
              <h2>Be our Guest</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 col-sm-3">
            <div class="reg-img">
              <figure><img src="assets/images/banner/1.jpg" alt="" /></figure>
            </div>
          </div>
          <div class="col-md-9 col-sm-9">
            <div class="reg-con">
              <div class="con">
                <h2>You’re Invited <span>Jenny & Mark</span> Wedding</h2>
                <p>Please Rsvp Before <span>15 May 2017</span></p>
                <p>
                  Proin gravida nibh vel velit auctor aliquet. Aenean
                  sollicitudin, lorem quis bibendum auctor, nisi elit consequat
                  ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet
                  nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum
                  velit. Nam nec tellus a odio tincidunt auctor.
                </p>
                <h2><span>Gift Registry</span></h2>
                <p>
                  Proin gravida nibh vel velit auctor aliquet. Aenean
                  sollicitudin, lorem quis bibendum auctor, nisi elit consequat
                  ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet
                  nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum
                  velit. Nam nec tellus.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--Registery area End here-->
    
    <!-- RSVP Wrapper Start-->
    <section section-scroll="7" class="rspv-area">
      <div class="comment-section" class="container">
        <div class="section-heading">
          <h2>Kirimkan Pesan & Kehadiran</h2>
          <p>UNTUK KAMI BERDUA</p>
        </div>
        <input
        type="text"
        id="username-input"
        placeholder="Masukkan Nama Anda"
        />
        <textarea
        id="comment-input"
        placeholder="Masukkan Pesan Anda"
        ></textarea>
        
        <!-- Confirmation of attendance -->
        <div
        class="attendance-confirmation"
        class="bottom-btn text-center mr-t50"
        >
        <label for="attendance">Konfirmasi Kehadiran</label>
        <select id="attendance">
          <option value="Hadir">Hadir</option>
          <option value="Tidak Hadir">Tidak Hadir</option>
        </select>
        <div>
          <button id="submit-comment" class="bottom-btn text-center mr-t50">
            Submit
          </button>
        </div>
        <h3>Comments</h3>
        <div id="comments-container"></div>
      </div>
    </div>
  </section>
  
  <!-- RSVP Wrapper End -->
  
  <!--Event area start here-->
  <section section-scroll="3" class="event-area section2">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="section_heading">
            <p>Most awaited moment of our life</p>
            <h2>The Wedding Events</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-4">
          <div class="events line">
            <h2>Main Ceremony</h2>
            <div class="con">
              <ul>
                <li>
                  <i class="fas fa-calendar-alt"></i><span>10 june 2018</span>
                </li>
                <li>
                  <i class="fas fa-clock"></i
                    ><span> 10:00 AM to 12:00 PM</span>
                  </li>
                  <li>
                    <i class="fas fa-map-marker-alt"></i
                      ><span>3355, Wayside Lane,<br />PIcland, CA 94601</span>
                    </li>
                  </ul>
                </div>
                <a href="#"
                ><span><i class="fas fa-map-marker-alt"></i>Open Map</span></a
                >
              </div>
            </div>
            <div class="col-md-6 col-sm-4">
              <div class="events event_half line">
                <h2>Wedding Party</h2>
                <div class="con">
                  <ul>
                    <li>
                      <i class="fas fa-calendar-alt"></i><span>10 june 2018</span>
                    </li>
                    <li>
                      <i class="fas fa-clock"></i
                        ><span> 10:00 AM to 12:00 PM</span>
                      </li>
                      <li>
                        <i class="fas fa-map-marker-alt"></i
                          ><span>3355, Wayside Lane,<br />PIcland, CA 94601</span>
                        </li>
                      </ul>
                    </div>
                    <a href="#"
                    ><span><i class="fas fa-map-marker-alt"></i>Open Map</span></a
                    >
                  </div>
                </div>
                <div class="col-md-3 col-sm-4">
                  <div class="events">
                    <h2>Dinner Party</h2>
                    <div class="con">
                      <ul>
                        <li>
                          <i class="fas fa-calendar-alt"></i><span>10 june 2018</span>
                        </li>
                        <li>
                          <i class="fas fa-clock"></i
                            ><span> 10:00 AM to 12:00 PM</span>
                          </li>
                          <li>
                            <i class="fas fa-map-marker-alt"></i
                              ><span>3355, Wayside Lane,<br />PIcland, CA 94601</span>
                            </li>
                          </ul>
                        </div>
                        <a href="#"
                        ><span><i class="fas fa-map-marker-alt"></i>Open Map</span></a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </section>
              <!--Event area End here-->
              <!--Gallery wrapper start here-->
              <section section-scroll="4" class="gallery-area section bg-img jarallax af">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-md-12 col-col-sm-12">
                      <div class="section_heading">
                        <p>Joahn & Jaquline</p>
                        <h2>memorable photo gallery</h2>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 col-sm-12 pd-0">
                      <div class="gallery-slider">
                        <div class="col-sm-12">
                          <div class="glist">
                            <figure>
                              <a href="assets/images/gallery/1.jpg"
                              ><img src="assets/images/gallery/1.jpg" alt="" /><span
                              ><i class="fas fa-search"></i></span
                              ></a>
                            </figure>
                          </div>
                          <div class="glist">
                            <figure>
                              <a href="assets/images/gallery/2.jpg"
                              ><img src="assets/images/gallery/2.jpg" alt="" /><span
                              ><i class="fas fa-search"></i></span
                              ></a>
                            </figure>
                          </div>
                          <div class="glist">
                            <figure>
                              <a href="assets/images/gallery/3.jpg"
                              ><img src="assets/images/gallery/3.jpg" alt="" /><span
                              ><i class="fas fa-search"></i></span
                              ></a>
                            </figure>
                          </div>
                        </div>
                        <div class="col-sm-12">
                          <div class="glist">
                            <figure>
                              <a href="assets/images/gallery/4.jpg"
                              ><img src="assets/images/gallery/4.jpg" alt="" /><span
                              ><i class="fas fa-search"></i></span
                              ></a>
                            </figure>
                          </div>
                          <div class="glist">
                            <figure>
                              <a href="assets/images/gallery/5.jpg"
                              ><img src="assets/images/gallery/5.jpg" alt="" /><span
                              ><i class="fas fa-search"></i></span
                              ></a>
                            </figure>
                          </div>
                        </div>
                      <div class="col-sm-12">
                        <div class="glist">
                          <figure>
                            <a href="assets/images/gallery/6.jpg"
                            ><img src="assets/images/gallery/6.jpg" alt="" /><span
                            ><i class="fas fa-search"></i></span
                            ></a>
                          </figure>
                        </div>
                        <div class="glist">
                          <figure>
                            <a href="assets/images/gallery/7.jpg"
                            ><img src="assets/images/gallery/7.jpg" alt="" /><span
                            ><i class="fas fa-search"></i></span
                            ></a>
                          </figure>
                        </div>
                        <div class="glist">
                          <figure>
                            <a href="assets/images/gallery/8.jpg"
                            ><img src="assets/images/gallery/8.jpg" alt="" /><span
                            ><i class="fas fa-search"></i></span
                            ></a>
                          </figure>
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <div class="glist">
                          <figure>
                            <a href="assets/images/gallery/1.jpg"
                            ><img src="assets/images/gallery/1.jpg" alt="" /><span
                            ><i class="fas fa-search"></i></span
                            ></a>
                          </figure>
                        </div>
                        <div class="glist">
                          <figure>
                            <a href="assets/images/gallery/2.jpg"
                            ><img src="assets/images/gallery/2.jpg" alt="" /><span
                            ><i class="fas fa-search"></i></span
                            ></a>
                          </figure>
                        </div>
                        <div class="glist">
                          <figure>
                            <a href="assets/images/gallery/3.jpg"
                            ><img src="assets/images/gallery/3.jpg" alt="" /><span
                            ><i class="fas fa-search"></i></span
                            ></a>
                          </figure>
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <div class="glist">
                          <figure>
                            <a href="assets/images/gallery/4.jpg"
                            ><img src="assets/images/gallery/4.jpg" alt="" /><span
                            ><i class="fas fa-search"></i></span
                            ></a>
                          </figure>
                        </div>
                        <div class="glist">
                          <figure>
                            <a href="assets/images/gallery/5.jpg"
                            ><img src="assets/images/gallery/5.jpg" alt="" /><span
                            ><i class="fas fa-search"></i></span
                            ></a>
                          </figure>
                        </div>
                      </div>
                      <div class="col-sm-12">
                <div class="glist">
                  <figure>
                    <a href="assets/images/gallery/6.jpg"
                    ><img src="assets/images/gallery/6.jpg" alt="" /><span
                    ><i class="fas fa-search"></i></span
                    ></a>
                  </figure>
                </div>
                <div class="glist">
                  <figure>
                    <a href="assets/images/gallery/7.jpg"
                    ><img src="assets/images/gallery/7.jpg" alt="" /><span
                    ><i class="fas fa-search"></i></span
                    ></a>
                  </figure>
                </div>
                <div class="glist">
                  <figure>
                    <a href="assets/images/gallery/8.jpg"
                    ><img src="assets/images/gallery/8.jpg" alt="" /><span
                    ><i class="fas fa-search"></i></span
                    ></a>
                  </figure>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="glist">
                  <figure>
                    <a href="assets/images/gallery/1.jpg"
                    ><img src="assets/images/gallery/1.jpg" alt="" /><span
                    ><i class="fas fa-search"></i></span
                    ></a>
                  </figure>
                </div>
                <div class="glist">
                  <figure>
                    <a href="assets/images/gallery/2.jpg"
                    ><img src="assets/images/gallery/2.jpg" alt="" /><span
                    ><i class="fas fa-search"></i></span
                    ></a>
                  </figure>
                </div>
                <div class="glist">
                  <figure>
                    <a href="assets/images/gallery/3.jpg"
                    ><img src="assets/images/gallery/3.jpg" alt="" /><span
                    ><i class="fas fa-search"></i></span
                    ></a>
                  </figure>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="glist">
                  <figure>
                    <a href="assets/images/gallery/4.jpg"
                    ><img src="assets/images/gallery/4.jpg" alt="" /><span
                    ><i class="fas fa-search"></i></span
                    ></a>
                  </figure>
                </div>
                <div class="glist">
                  <figure>
                    <a href="assets/images/gallery/5.jpg"
                    ><img src="assets/images/gallery/5.jpg" alt="" /><span
                    ><i class="fas fa-search"></i></span
                    ></a>
                  </figure>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="glist">
                  <figure>
                    <a href="assets/images/gallery/6.jpg"
                    ><img src="assets/images/gallery/6.jpg" alt="" /><span
                    ><i class="fas fa-search"></i></span
                    ></a>
                  </figure>
                </div>
                <div class="glist">
                  <figure>
                    <a href="assets/images/gallery/7.jpg"
                    ><img src="assets/images/gallery/7.jpg" alt="" /><span
                    ><i class="fas fa-search"></i></span
                    ></a>
                  </figure>
                </div>
                <div class="glist">
                  <figure>
                    <a href="assets/images/gallery/8.jpg"
                    ><img src="assets/images/gallery/8.jpg" alt="" /><span
                    ><i class="fas fa-search"></i></span
                    ></a>
                  </figure>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--Gallery wrapper End here-->
    <!-- Gift Wrapper Start -->
    <div section-scroll="5">
      <div>
        <div
        class="wd_heading wow fadeInDown text-center"
        data-wow-delay="0.3s"
        >
        <div class="section-heading">
          <h1>Kirim Hadiah</h1>
          <p>
            jika Anda ingin memberikan hadiah, kami telah menyediakan beberapa
            pilihan di bawah ini:
          </p>
        </div>
        <div class="gift-options">
          <div class="gift-option">
            <h2>BRI</h2>
            <img src="assets/images/bri.png" alt="BRI" class="gift-image" />
            <p>
              Bank BRI<br />Account Number: 1234 5678 9012 3456<br />Nama: Eza
            </p>
          </div>
          <div class="gift-option">
            <h2>DANA</h2>
            <img
            src="assets/images/dana.webp"
            alt="DANA"
            class="gift-image"
            />
            <p>Dana<br />Nomor : 0842 2832 1244<br />Nama : Sahreza</p>
          </div>
          <div class="gift-option">
            <h2>QRIS</h2>
            <img src="assets/images/qris.png" alt="QRIS" class="gift-image" />
            <p>Scan the QR code to send your gift via QRIS.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Gift Wrapper End -->
  <!--Testimonial area start here-->
  <section class="testimonial-area bg-img jarallax af">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="testimonial">
            <div class="lists">
              <h2>
                “ Better to have loved and lost, than to have never loved ”
              </h2>
              <p>Sandeep S.</p>
            </div>
            <div class="lists">
              <h2>
                “ Better to have loved and lost, than to have never loved ”
              </h2>
              <p>Sandeep S.</p>
            </div>
            <div class="lists">
              <h2>
                “ Better to have loved and lost, than to have never loved ”
              </h2>
              <p>Sandeep S.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Testimonial area End here-->
  <!--Contact info area start here-->
  <section class="contact-info section2">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <div class="info-list">
            <span><img src="assets/images/icons/3.png" alt="" /></span>
            <div class="con">
              <h2>Location</h2>
              <p>512 Ram Nagar,Dewas<br />madhya predesh,India</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="info-list">
            <span><img src="assets/images/icons/4.png" alt="" /></span>
            <div class="con">
              <h2>Contact</h2>
              <p>+1800-123-1233<br />+91975-789-789</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="info-list">
            <span><img src="assets/images/icons/5.png" alt="" /></span>
            <div class="con">
              <h2>Email</h2>
              <p>dummy148@gmail.com<br />example144875@yahoo.com</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Contact info area End here-->
  <!--Footer wrapper start here-->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <div class="foo-logo">
            <a href="index.html"
            ><img src="assets/images/logo/logo2.png" alt=""
            /></a>
          </div>
        </div>
        <div class="col-md-8 col-sm-8">
          <div class="copyright">
            <p>By Hadirmu</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</footer>
<!--Footer wrapper end here-->

<!-- All JavaScript Here -->

<!-- jQuery latest version -->
<script>
  document.getElementById('start-button').addEventListener('click', function() {
    document.getElementById('start-page').style.display = 'none';
    document.getElementById('main-content').style.display = 'block';
    document.getElementById('background-music').play();
  });
  </script>
    <script src="assets/js/vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- Owl.carousel JavaScript -->
    <script src="assets/js/owl.carousel.min.js"></script>
    <!-- Bxslider JavaScript -->
    <script src="assets/js/jquery.bxslider.min.js"></script>
    <!-- Magnific Popup JavaScript -->
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <!-- meanmenu JavaScript -->
    <script src="assets/js/jquery.meanmenu.js"></script>
    <!-- jarallax JavaScript -->
    <script src="assets/js/jarallax.min.js"></script>
    <!-- jQuery-ui JavaScript -->
    <script src="assets/js/jquery-ui.min.js"></script>
    <!-- masonry JavaScript -->
    <script src="assets/js/masonry.pkgd.min.js"></script>
    <!-- downCount JavaScript -->
    <script src="assets/js/jquery.downCount.js"></script>
    <!-- wow JavaScript -->
    <script src="assets/js/wow.min.js"></script>
    <!-- Plugins JavaScript -->
    <script src="assets/js/plugins.js"></script>
    <!-- Init JavaScript -->
    <script src="assets/js/main.js"></script>
    <script src="assets/js/rsvp.js"></script>
  </body>
</html>
